@using System.Web.Mvc.Html5
@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "NewMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Name) })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:MM/dd/yyyy}", new { @class = "form-control", id="datecontrol", placeholder = @Html.DisplayNameFor(m => m.ReleaseDate) })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Genres)
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.InStock, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.InStock) })
        @Html.ValidationMessageFor(m => m.InStock)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#datecontrol').datepicker();
    </script>
}